*{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 12px;
}

.supercontainer{
    border-radius: 50px;
    border-top: 12px;
    margin-left: 20%;
    margin-top: 7%;
    margin-right: 20%;
    align-items: center;
   
}

.contenedor{
    width: 250px;
    margin: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contenedorBotones{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
}

.FirstButton{
    display: inline-flex;
    width: 100%;
    height: 80px;
    background-image: url("../images/botonblood.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';  
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-bottom: white;
}
.FirstButton span{
    position: relative;
    z-index: 1;
    transition: .3s ease all;
}
.FirstButton:after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -133%;
    border-bottom: 80px solid rgba(151, 6, 6, 0.479);
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}

.FirstButton:hover::after{
    left: 0;
}




.TituloBanner h1{
    
    
    
    margin-top: 10%;
    font-size: 900%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    text-shadow: 1px 4px 5px  rgba(255, 255, 255, 0.733);
    justify-content: center;
    @media screen and (max-width: 1210px) {
        font-size: 600%;
        margin-top: 5%;
    }
    
   
    color: rgb(73, 4, 4);
  
    user-select: none; 
}



.foter{
  
    height: 50px; 
    width:100%; 
    position:absolute; 
    bottom:5%; 
    left:0; 
    color: white;
    text-align: center;
    z-index: 1;
}

label{
    color: white;
}

.enlaces{
    color: rgb(38, 114, 214);
    text-decoration: none;

    user-select: none; 
}


@font-face {
    font-family: 'adrip1';
    src: url('../fuentes/adrip1.ttf');
}


video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.adrip1, .contenedor{
    top: 10px;
    left: 10px;
    position: relative;
    z-index: 2;
    color: white;
    font-family: 'adrip1';
}


.aboutus{
    background-color: rgba(10, 113, 204, 0);
    color: rgb(208, 211, 199);
    border: none;
    cursor: pointer;
}

.aboutus{
    display: inline-flex;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-bottom: white;
    font-weight: bold;
}
.aboutus span{
    position: relative;
    z-index: 1;
    transition: .3s ease all;
}
.aboutus:after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -133%;
    border-bottom: 80px solid rgba(151, 6, 6, 0.479);
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}

.aboutus:hover::after{
    left: 0;
}



#modalaboutus::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalaboutus{
    max-width: 90ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalaboutus h1{
    max-width: 80ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}

#modalaboutus a{
    max-width: 100ch;
    font-size: 90%;
    color: rgb(22, 132, 175);
    text-decoration: none;
}


#modalcredits::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalcredits{
    max-width: 100ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalcredits h2{
    max-width: 100ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}

#modalcredits a{
    max-width: 100ch;
    font-size: 90%;
    color: rgb(22, 132, 175);
    text-decoration: none;
}