body, video{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bodeishon{
    background-image: url("../images/fondo.png");
}

.footer, .check{
    position: relative;
    z-index: 2;
    color: white;
}

h1{
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 5em;
    user-select: none; 
    position: relative;
    z-index: 2;
}

.labels{
    font-size: 2em;
    user-select: none; 
    position: relative;
    z-index: 2;
}

.recuadros{
    border-radius: 25.5px;
    height: 40px;
    width: 50%;
    align-content: center;
    user-select: none; 
    text-align: center;
    position: relative;
    z-index: 2;
}

.ingresar{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 51px;
    height: 5%;
    width: 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.185);
    user-select: none; 
    position: relative;
    z-index: 2;
}
.registrarbtn{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    user-select: none; 
    position: relative;
    z-index: 2;
}

@font-face {
    font-family: SecretHalloween;
    src: url('../fuentes/SecretHalloween.ttf');
}

.SecretHalloween{
    font-family: SecretHalloween;
    text-shadow: 1px 4px 5px  rgb(0, 0, 0);
}
.supercontenedor{
    border-radius: 5%;
    border-top: 10%;
    margin-left: 30%;
    margin-top: 7%;
    margin-right: 30%;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    
}
.avatar{
    height: 55px;
    width: 55px;
}

.aboutus{
    background-color: rgba(10, 113, 204, 0);
    color: rgb(208, 211, 199);
    border: none;
    cursor: pointer;
}

.aboutus{
    display: inline-flex;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-bottom: white;
    font-weight: bold;
}
.aboutus span{
    position: relative;
    z-index: 1;
    transition: .3s ease all;
}
.aboutus:after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -133%;
    border-bottom: 80px solid rgba(151, 6, 6, 0.479);
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}

.aboutus:hover::after{
    left: 0;
}



#modalaboutus::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalaboutus{
    max-width: 90ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalaboutus h1{
    max-width: 80ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}

#modalaboutus a{
    max-width: 100ch;
    font-size: 90%;
    color: rgb(22, 132, 175);
    text-decoration: none;
}


#modalcredits::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalcredits{
    max-width: 100ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalcredits h2{
    max-width: 100ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}

#modalcredits a{
    max-width: 100ch;
    font-size: 90%;
    color: rgb(22, 132, 175);
    text-decoration: none;
}

.text-danger{
    position: absolute;
    z-index: 1;
    color: red;
    font-size: 120%;
}