#modalbaños::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalbaños{
    max-width: 90ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalbaños h1{
    max-width: 80ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}





#modalshusheos::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalshusheos{
    max-width: 90ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalshusheos h1{
    max-width: 80ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}





#modalasechadora::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalasechadora{
    max-width: 90ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalasechadora h1{
    max-width: 80ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}





#modalwendy::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalwendy{
    max-width: 90ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalwendy h1{
    max-width: 80ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}





#modalrostros::backdrop{
    background-color: rgba(0, 0, 0, 0.685);
}

#modalrostros{
    max-width: 90ch;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(211, 214, 195);
}

#modalrostros h1{
    max-width: 80ch;
    color: rgb(192, 51, 41);
    font-weight: bold;
}



.storybutton{
    display: inline-flex;
    width: 30%;
    height: 5%;
    background-image: url("../images/botonblood.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-bottom: white;
    font-weight: bold;
}
.storybutton span{
    position: relative;
    z-index: 1;
    transition: .3s ease all;
}
.storybutton:after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -133%;
    border-bottom: 80px solid rgba(151, 6, 6, 0.479);
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}

.storybutton:hover::after{
    left: 0;
}
